section > article,
section > div,
section > img {
  height: 400px;
}

section > article,
section > div > span {
  background-color: grey;
}

section > img {
  object-fit: cover;
  background-color: grey;
}

section > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
