html {
  height: 100%;
}

body {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

#scene {
  background-color: white;
  position: relative;
  overflow: hidden;
}

#balle {
  position: absolute;
  object-fit: contain;
}
