.container > .row > article > div {
  position: relative;
  width: 100%;
  height: 300px;
}

.container > .row > article > div > img {
  object-fit: cover;
  width: 1100%;
}

.button {
  position: absolute;
  bottom: 30px;
  right: 10px;
}
