html {
  height: 100%;
}

body {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#scene {
  background-color: white;
  width: 1000px;
  height: 500px;
  position: relative;
}

#balle {
  background-color: red;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
}
