section > article,
section > div,
section > img {
  height: 400px;
}

section > article > div,
{
  border: 1px solid black;
}

section > article > div {
  height: 100%;
  padding: 1em;
}

section > div > div {
  border: solid 1px black;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

section > img {
  object-fit: cover;
}

body {
  display: flex;
  flex-direction: column;
}
