.container > .row > article > div {
  position: relative;
}

.container > .row > article > div > img {
  object-fit: cover;
  width: 100%;
}

.button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
