<body class="container">
    <main>
      <section>
        <header>
          <h2>MEILLEURS MOMENTS</h2>
          <span>Tout voir</span>
        </header>
        <div class="row row-cols-1 row-cols-md-3">
          <article class="col">
            <div class="image">
              <img src="https://placehold.co/600x400" alt="" />
              <div class="bouton-play"></div>
            </div>
            <div class="label">Natation</div>
            <p>
              Finale 400m 4 nages (H) | Natation | Jeux Olympiques de Paris 2024
            </p>
          </article>

          <article class="col">
            <div class="image">
              <img src="https://placehold.co/600x400" alt="" />
              <div class="bouton-play"></div>
            </div>
            <div class="label">Judo</div>
            <p>
              Finales par équipe mixte | Judo | Jeux Olympiques de Paris 2024
            </p>
          </article>

          <article class="col">
            <div class="image">
              <img src="https://placehold.co/600x400" alt="" />
              <div class="bouton-play"></div>
            </div>
            <div class="label">Triathlon</div>
            <p>
              Triathlon (F) | Jeux Olympiques de Paris 2024 FRA v POL - Finale
              (H) | Volleyball | Jeux Olympiques de Paris 2024 Volleyball FRA v
            </p>
          </article>
        </div>
      </section>
    </main>
  </body>